.header{
    background-color: rgba(229, 84, 115, 0.10);
    display: flex; 
    justify-content: space-around;
   padding-top: 200px;
}
.section-o1-header{
    color: #272727;
    width: 708px;
    font-size: 80px;
    font-weight: 800;

}
.section-o1-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 650px;
}
.button-1st{
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: white;
}


.section-02-header{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    padding-top: 100px;
   
}
.section-02-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.rectangel-01{
    height: 550px;
    width: 500px;
    background-color:rgba(167, 33, 98, 0.15);
   border-radius: 300px 300px 0px 0px;
   margin: 20px;
  
    
}
.rectangel-02{
    height: 550px;
    width: 500px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
    margin: 20px;
  
}
.rectangel-03{
    height: 550px;
    width: 500px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    margin: 20px;
  
}
.section-02-container{
    display: flex;
    width: 70%;
    margin: auto;
}
.box-pic-description{
    display: flex;
    width: 70%;
    margin: auto;
    gap: 500px;
    

}

.Instagram-part{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.subscribe-bg{
   width: 750px;
   height: 500px;
  
} 
.footer-container{
    background-color: black;
    color: white;
    text-align: center;
    height: 350px;
    margin-top: 50px;
}
.footer-header{
    padding-top: 70px;
    font-size: 48px;
    font-weight: 800;

    
}
.footer-details{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    
}
.footer-last-part{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    
}
.section-04{
    background-color: rgba(229, 84, 115, 0.10);
    display: flex; 
    justify-content: space-around;
    padding-top: 200px;
    margin-top: 50px;
}
.section-04-btn{
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: white;
}


.section-o5-description{
    
    color: rgba;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.section-o5-header{
    
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
   
}


.section-06-background{
    background-image: url('Flower\ Asset/Rectangle 9.png');
    background-repeat:no-repeat ;
    margin-right: 100px;
    width: 55%;
    margin: auto;
    height: 300px;
    text-align: center;
    
   
}
.inside-bg-header{
    padding-top: 100px;
}
.inside-bg-input{
    width: 500px;
    height: 50px;
    border-radius: 5px;
}


